
.ui_toolbar
{
	height: 22px;

	<?=$FONT?>

	color: white;
	font-size: 9pt;
	white-space: nowrap;

	background-image: url(<?=getImage('images/ui/toolbar/background.png')?>);
}

.ui_toolbar_item,
.ui_toolbar_item_over
{
	cursor: default;
	text-align: center;
	white-space: nowrap;

	padding: 2px;
}

.ui_toolbar_item_over
{
	padding: 1px;

	border: <?=$PRIMARY_2?> 1px solid;
	background-color: <?=$SECONDARY_4?>;
}




.ui_toolbar_ul
{
	line-height: normal;
	cursor: auto;
	color: #444;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.ui_toolbar_li
{
	white-space: nowrap;
	display: block;
	float: left;
	margin: 0px 0px 3px;
}

.ui_toolbar_a
{
	padding: 6 6 6 6;
	display: block;
}

.ui_toolbar_separator
{
	display: block;
	color: #cccccc;
	padding: 6 2 6 2;
	font-size: 12pt;
}